streamlit>=1.31
pandas>=2.1
numpy>=1.26

plotly>=5.18
matplotlib>=3.7
folium>=0.15
branca>=0.7

geopandas>=0.14
shapely>=2.0
pyproj>=3.6
fiona>=1.9

openpyxl>=3.1
xlrd>=2.0
reportlab>=4.0
scipy>=1.11
pytest>=9.0
